[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "LsRefCodePkg/SampleCode/Ls3a5000SingleCrbEX"]
	path = LsRefCodePkg/SampleCode/Ls3a5000SingleCrbEX
	url = git@gitlab.gen.cn:bios/Ls3a5000SingleCrbEX.git
